*,
*::after,
*::before {
  font-family: sans-serif;
  box-sizing: border-box;
  font-weight: normal;
}
body {
  padding: 0;
  margin: 0;
  background: radial-gradient(rgb(248, 239, 239), #e45c5c);
}
.container {
  max-width: 400px;
  margin: 10px auto;
  box-shadow: 0px 0px 43px 17px rgb(241, 123, 123);
}

#display {
  text-align: right;
  height: 120px;
  line-height: 100px;
  padding: 16px 8px;
  font-size: 2rem;
  background-color: rgb(238, 72, 72);
  color: white;
  border-radius: 20px 20px 0 0;
  border: 1px solid rgb(85, 84, 84);
}

.calculator-btns {
  display: grid;
  border-bottom: 1px solid #999;
  border-left: 1px solid#999;
  grid-template-columns: repeat(4, 1fr);
}

.calculator-btns > div {
  border-top: 1px solid #999;
  border-right: 1px solid#999;
}

.btn {
  background-color: rgb(245, 186, 186);
  border: 0.5px solid #999;
  line-height: 100px;
  text-align: center;
  font-size: 2.5rem;
  cursor: pointer;
  color: rgb(85, 84, 84);
}

.btnBracket {
  border-radius: 0 0 0 20px;
}

#equal {
  /* background-color: rgb(85, 85, 255); */
  color: white;
  border-radius: 0 0 20px 0;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  background-color: rgb(238, 72, 72);
  color: white;
  transition: 0.5s ease-in-out;
}
